.cproject
.project

autom4te.cache
aclocal.m4
compile
config.*
configure
depcomp
.deps
.dirstamp
install-sh
Makefile
Makefile.in
missing
stamp*
*.swp

*.o
COPYING
INSTALL
*.lint
src/pz
src/.libs/*
samples/*
test/lz77
!samples/large.tar.gz
!samples/cantrbry.tar.gz
!samples/Makefile.am
src/libpz.la
src/lz77.lo
test/.libs/lz77_test
test/lz77_ref
test/lz77_test
test/lz77_fuzz
libtool
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
opencl/test
opencl/opencl_test
test/frequency_test
test/huffman_fuzz
test/huffman_test
